{% extends 'base.html' %}
{% load static %}  

{% block content %}
<div style="text-align: center; margin: 20px;">
    <h1 style="font-family: Arial, sans-serif; color: #0B2F9F;">Acerca de Mí</h1>
    <p style="font-size: 18px; color: #555; max-width: 800px; margin: auto;">
        Soy Alejo Da rocha, y estoy comenzando en el mundo de la tecnología y la programación. Este es mi primer sitio web, me gusta mucho la lectura por lo que decidí hacerlo sobre libros.
    </p>
</div>



<div style="margin: 40px 20px;">
    <h2 style="text-align: center; color: #0B2F9F;">Un Poco Sobre Mí</h2>
    <p style="font-size: 16px; color: #333; max-width: 800px; margin: auto; text-align: center;">
       Soy un estudiante de sistemas en la universidad de palermo, comencé hace poco, por lo que sigo dando mis primeros pasos en la programación.
       Leer es una de mis pasiones, leo de todo un poco. Siempre estoy buscando recomendaciones de libros, por lo que crear este sitio web me pareció una excelente idea.
    </p>
</div>


</div>
{% endblock %}
