{% extends 'base.html' %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}
<div class="contenido">
    <h1>Lista de Libros</h1>
    {% if libros %}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                    <tr>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>
                            <form method="POST" action="{% url 'libro_delete' libro.id %}">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay libros disponibles.</p>
    {% endif %}
</div>
{% endblock %}
